body{
    border-width: 2px;
    border-style: solid;
    border-color: black; 
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid black;
    text-align: left;
    padding: 25px;
}
tr:nth-child(even){
    background-color:rgb(247, 98, 98)
}
.pad{
    display: flex;
    gap: 5px;
}
.point{
    cursor: pointer;
    padding: 2px;
}
.fa-solid{
    transition:1s;
    color:black;
}
.fa-solid:hover{
    transition:1s;
    color:rgb(253, 216, 216);
}